*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body
{
    height: 100vh;
}

#nav-bar
{
    display: flex;
    align-items: center;
    padding: 1em;
}

#nav-bar h1
{
    font-weight: 500;
}

.nav
{
    width: 25%;
    font-weight: 200;
}

.nav ul
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#test-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.test
{
    width: 30%;

    text-align: center;
}
