*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body
{
    height: 100vh;
}

#nav-bar
{
    display: flex;
    align-items: center;
    padding: 1em;
}

#nav-bar h1
{
    font-weight: 500;
}

.nav
{
    width: 25%;
    font-weight: 200;
}

.nav ul
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#test-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

#test-area h2
{
    font-size: 3em;
    margin-bottom: 1rem;
    text-shadow: 0 3px 2px green;
}

#timer
{
    font-size: 1.3em;
    margin-bottom: 1rem;
}

#word-area
{
    width: 70vw;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2em;
}
