*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body
{
    height: 100vh;
    background-color: #415A77;
}

#test-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

#test-area h2
{
    font-size: 3em;
    margin-bottom: 1rem;
    
}

#timer-display
{
    font-size: 1.3em;
    margin-bottom: 1rem;
}

#word-area
{
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: pre;
    height: 15%;

    box-shadow: 4px 5px 5px #0D1B2A;
    font-size: 2em; 
    border-radius: 10px;
    background-color: #E0E1DD;
}

.completed-word-area
{
    display: flex;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: right;
    color: #0353A4;
}

.completed-word-area span
{
    float: right;
}

.incompleted-word-area
{
    width: 35vw;
}

.incorrect-letter
{
    text-decoration: line-through;
    color: red;
}
